# Виртуальные окружения
venv/
.venv/
env/
.env/

# Кэш и скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo

# Кэш pytest
.pytest_cache/

# Файлы IDE и редакторов
.vscode/
.idea/
*.swp
*.swo

# Специфичные для macOS
.DS_Store
.AppleDouble
.LSOverride